@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* HSBC Red */
  --hsbc-red: #db0011; 
  --hsbc-dark-gray: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-hsbc-red: var(--hsbc-red);
  --color-hsbc-dark-gray: var(--hsbc-dark-gray);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
